:root{
    --cor-texto:  rgba(255, 255, 255, .6);
    --cor-ceu:rgba(255, 255, 255, .23);
    --cor-fundo:#2f3038;
    --cor-interface:rgba(255, 255, 255, .74);
    --cor-lua:#dbdabc;
    --cor-cratera: #d4d3d7;
    --sombra: rgba(0,0,0,0.1);

    /*cores das nuvens*/
    --cor-nuvem1:#43434d;
    --cor-nuvem2:#4c4d57;
    --cor-nuvem3:#5c5c67;

    --transparente:rgba(255,255,255,0);
    
}

body{
    background-color: #23242d;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: var(--cor-texto);

}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--cor-ceu);
    z-index: 1;
    top: 0;
    left: 0em;
    opacity: 0;
}

.interface{
    width: 400px;
    height: 650px;
    background-color: var(--cor-fundo);
    overflow: hidden; /* cria uma mascara pra esse componente */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -325px;
    border-radius: 20px;
}

.interface::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--cor-interface);
    left: 0;
    top: 0;
    opacity: 0;
}

/* Criar a lua agr */

.lua{
    width: 500px;
    height: 500px;
    background-color: var(--cor-lua);
    border-radius: 50%;
    box-shadow: 0 0 30px var(--cor-lua);/*criando o brilho da lua*/
    left: 0;
    top: 0;
    position: absolute;
    animation: lua 20s linear infinite;
}

.lua::before,.lua::after{/*criando as crateras*/
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--cor-cratera);
    box-shadow: -1px -3px 0 var(--sombra);
}

.lua::after{
    width: 120px;
    height: 90px;
    bottom: 70px;
    left: 40%;
}

.lua::before{
    width: 40px;
    height: 40px;
    bottom: 30px;
    left: 30%;
}

/* animando a lua */

@keyframes lua{
    from{
        left: 100%;
        top: 200px;
    }
    to{
        left: -100%;
        top: -400px;
    }
}


/* ================================================ */

/* criando as nuvens */
.nuvem, .nuvem::before, .nuvem::after, .nuvem span{
    content: '';
    background-color: inherit; /*herda a cor do pai*/
    width: 400px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    

}


.nuvem::before{/*primeiro gomo da nuvem*/
    right: -250px;
}

.nuvem::after{/*terceito gomo da nuvem*/
    left: -250px;
}

.nuvem span{/*segundo gomo da nuvem*/
    right: -500px;
}

.nuvem1{
    background-color: var(--cor-nuvem1);
    top: -80px;
    left: 0;
    z-index: 4;
    animation: nuvem 5s linear infinite;
}

.nuvem2{
    background-color: var(--cor-nuvem2);
    top: -20px;
    left: 0;
    z-index: 3;
animation: nuvem 12s linear infinite;
}
.nuvem3{
    background-color: var(--cor-nuvem3);
    top: 20px;
    left: 0;
    z-index: 2;
animation: nuvem 22s linear normal;
}


@keyframes nuvem{
    from{
        left: 0;
    }

    to{
        left: 250px;
    }
}


/* Criando o Texto */

.conteudo{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.conteudo .dia{
    font-size: 31px;
    font-weight: 800;
}

.conteudo .local{
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
}

.conteudo .temperatura{
    font-size: 200px;
    font-weight: 800;
    text-shadow: 4px 6px 0 var(--sombra);
    margin-top: -30px;
}

.conteudo .temperatura sup{
    font-size: 97px;
    position: relative;
}


/* ================================================ */


/* criando a chuva */
.chuva{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.chuva1{
    transform: rotate(-2deg); /*faz a chuva ficar inclinada*/

}
.chuva2{
    transform: rotate(-2.3deg); /*faz a chuva ficar inclinada*/
    left: 100px;
    
}

.chuva3{
    transform: rotate(-1.3deg); /*faz a chuva ficar inclinada*/
    left:200px;
}

.chuva4{
    transform: rotate(-1.7deg); /*faz a chuva ficar inclinada*/
    left:300px;
}


i.gota{
    width: 3px;
    height: 70px;
    position: absolute;
    border-radius: 20px;
    top: 0;
    opacity: .3;
    background-image: linear-gradient(to bottom,var(--transparente),white);
}

.gota:nth-child(1){
    left: 5px;
    animation:chuva 1s cubic-bezier(.42,0,.96,.74) infinite ;
}

.gota:nth-child(2){
    left: 20px;
    animation:chuva 3s cubic-bezier(.42,0,.96,.74) infinite ;
}

.gota:nth-child(3){
    left: 30px;
    animation:chuva 1.5s cubic-bezier(.42,0,.96,.74) .3s infinite ;
}

.gota:nth-child(4){
    left: 40px;
    animation:chuva 1.7s cubic-bezier(.42,0,.96,.74) 0s infinite ;
}

.gota:nth-child(5){
    left: 50px;
    animation:chuva 2.1s cubic-bezier(.42,0,.96,.74) .8s infinite ;
}

.gota:nth-child(6){
    left: 60px;
    animation:chuva 1s cubic-bezier(.42,0,.96,.74) 1.8s infinite ;
}

.gota:nth-child(7){
    left: 70px;
    animation:chuva 2s cubic-bezier(.42,0,.96,.74) 1.2s infinite ;
}

.gota:nth-child(8){
    left: 80px;
    animation:chuva 1.2s cubic-bezier(.42,0,.96,.74) 1s infinite ;
}
.gota:nth-child(9){
    left: 90px;
    animation:chuva 1.1s cubic-bezier(.42,0,.96,.74) 1.3s infinite ;
}

@keyframes chuva{
    from{top: 0;}
    to{top: 100%;}

}
