:root{
    --cor-ceu:#bbded6;
    --cor-sol:#ffcc00;
    --cor-nuvem-dia1:#f5eaea;
    --cor-nuvem-dia2:rgb(214, 205, 205);
    
    

}

.dia{
    width: 100%;
    height: 100%;
    background-color: var(--cor-ceu);
}

/* fazendo o Sol */

.sol{
    width: 500px;
    height: 500px;
    background-color: var(--cor-sol);
    border-radius: 50%;
    box-shadow: 0 0 30px var(--cor-sol);/*criando o brilho da lua*/
    left: 0;
    top: 0;
    position: absolute;
    animation: sol 20s linear infinite;
}

@keyframes sol{
    from{
        left: 100%;
        top: 200px;
    }
    to{
        left: -100%;
        top: -400px;
    }
}
/* ============================================================= */
.dia .nuvem, .dia .nuvem::before,.dia .nuvem::after,.dia .nuvem span{
    content: '';
    width: 180px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
    

}


.dia .nuvem::before{/*primeiro gomo da nuvem*/
    right: -120px;
}

.dia .nuvem::after{/*terceito gomo da nuvem*/
    left: -120px;
}

.dia .nuvem span{/*segundo gomo da nuvem*/
    right: -200px;
}

.nuvem4{
    background-color: var(--cor-nuvem-dia1);
    top: 50px;
    left: 0;
    z-index: 3;
    animation: nuvem2 20s linear infinite;
}

.nuvem5{
    background-color: var(--cor-nuvem-dia1);
    top: 285px;
    left: -500px;
    z-index: 2;
    animation: nuvem2 30s linear infinite;
}


@keyframes nuvem2{
    from{
        left: -400px;
    }

    to{
        left: 700px;
    }
}


